<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning" >
              <h4 class="card-title">Historial de préstamos</h4>
            </div>
             <div class="form-inline">  
              <div class="col-md-3"> 
                  <!-- <label><input type="checkbox" value="">Pendientes</label>          
                  <label><input type="checkbox" value="">Finalizados</label>           -->
              </div> 
              <div class="col-md-3"> 
                <label for="dni">DNI</label>
                <input [(ngModel)]="dni" name="dni" id="dni" type="text"  class="form-control">                    
              </div>  
              
              <div class="col-md-4"> 
                <label for="apellidosAlumno">Apellidos y Nombre</label>
                  <input [(ngModel)]="nombre" name="nombre" id="apellidosAlumno" type="text"  class="form-control col-md-12" style="width:100%">                    
              </div> 
            </div>                 
            
            <div class="form-inline">  
              <div class="col-md-3"> 
                <label for="hasta">Desde</label>
                <input [(ngModel)]="fechaDesde" name="fechaDesde" id="hasta" type="date"  class="form-control">                    
              </div>  
              <div class="col-md-3"> 
                <label for="hasta">Hasta</label>
                  <input [(ngModel)]="fechaHasta" name="fechaHasta" id="hasta" type="date"  class="form-control">                    
              </div>  
              <div class="col-md-4"> 
                <label for="tituloFiltro">Título</label>
                  <input [(ngModel)]="filtro" name="filtro" id="tituloFiltro" type="text"  class="form-control col-md-12" style="width:100%">                    
              </div> 
              <div class="col-md-2"> 
                <br>
                <button (click)="buscar()" type="button" class="btn btn-danger btn-sm">Filtrar</button>                  
              </div> 
            </div>
            <br>
            <div class="col-md-12">
                <div class="card-content table-responsive table-full-width">
                    <table class="table">
                      <thead class="text-danger">
                        <th></th>
                        <th>Título</th>
                        <th>Código</th>
                        <th>DNI</th>
                        <th>Alumno</th>
                        <th>Fecha realización</th>
                        <th>Estado</th>
                        <th>Accion</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let e of elemento">
                          <td><a href="#">
                            <img class="img-circle" width="50%" src="{{e.portada}}" alt="">
                          </a>
                          </td>
                          <td>{{e.titulo}}</td>
                          <td>{{e.idEjemplar}}</td>
                          <td>{{e.dni}}</td>
                          <td>{{e.Alumno}}</td>
                          <td>{{e.fechaPrestamo}}</td>
                          <td *ngIf="e.estado">Disponible</td>
                          <td>
                            <button class="btn btn-danger btn-sm" (click)="finalizarPrestamo(e.idPrestamo)">FINALIZAR</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
          </div>
      </div>
    




   


  </div>
</div>
